<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Portal</title>
</head>
{% include '@MoviePortal/style.html.twig' %}
<body>
{% block menu %}
    <ul>
        <li><a href="{{ path('show_all_posts') }}" class="active">Home</a></li>
        <li><a href="{{ path('show_all_posts_offset', {'offset' : 1}) }}">Posts</a></li>
        <li><a href="{{ path('show_all_movies_anonymous') }}">Movie Base</a></li>
        {% if not app.user %}
        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
        {% else %}
        <li><a href="{{ path('fos_user_profile_edit') }}">Profile</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block searchbar %}
    {% include '@MoviePortal/searchbar.html.twig' %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>