<ul>
    <li><a href="{{ path('show_all_movies') }}" class="active">Add Post</a></li>
    <li><a href="{{ path('show_all_directors') }}">Add D</a></li>
    <li><a href="{{ path('show_all_writers') }}">Add Writers</a></li>
    <li><a href="{{ path('show_all_actors') }}">Add Actors</a></li>
    <li><a href="{{ path('show_all_genres') }}">Add Genre</a></li>
</ul>