{% extends'@MoviePortal/base.html.twig' %}
{% block content %}
    {{ post.name }}<br>
    {{ post.contentHtml }}<br>
    {{ post.category.name }}<br>
    <a href="{{ path('new_form_comment', {'postId' : post.id}) }}">Click here to add new Comment</a>
    {% for comment in post.comments %}
        <h3>{{ comment.user.username }}</h3><br>
        {{ comment.content }}<br>
        {{ comment.createdAt|date('Y-m-d') }}<br>
        {% if comment.user == app.user %}
        <a href="">Modify Comment</a>
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}