{% extends '@MoviePortal/baseAdmin.html.twig' %}
{% block menu %}
    {{ parent() }}
{% include'@MoviePortal/movieMenuAdmin.html.twig' %}
{% endblock %}
{% block content %}
    <a href="{{ path('new_actor_form') }}">Click here to add new Actor</a><br>
{% include '@MoviePortal/Actor/actorSearchBar.html.twig' %}
{% for actor in actors %}
<div>
    <a href="{{ path('modify_actor_form', {'id' : actor.id}) }}">{{ actor.name }} {{ actor.surname }} - Click to modify</a><br>
</div>
{% endfor %}
{% endblock %}